---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Acerca de</a>
        <a href="/blog/">Blog</a>

		<h1>Acerca de mí</h1>
		<p>Estoy siguiendo el tutorial introductorio del framework Astro. Esta es la segunda página</p>
		<p>Este sitio se actualizará según vaya completando más etapas del tutorial.</p>
	</body>
</html>

